@using Test_66bit.Interfaces
@model Footballer
@inject ITeamRepository _repository


<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        $.get( "/team/all", function( data ) {
              autocomplete(document.getElementById("team"), data);
          }, "json" );
    </script>
    <link rel="stylesheet" href="~/css/edit.css">
</head>
<h2>@ViewData["Title"]</h2>
<form autocomplete="off" asp-action="@ViewData["Type"]" method="post">
    <fieldset>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="inputName" class="col-form-label">Name</label>
        </div>
        <div class="col-auto">
            <input asp-for="Name" type="text" id="inputName" class="form-control">
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="inputSurname" class="col-form-label">Surname</label>
        </div>
        <div class="col-auto">
            <input asp-for="Surname" type="text" id="inputSurname" class="form-control">
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="inputBirthday" class="col-form-label">Birthday</label>
        </div>
        <div class="col-auto">
            <input asp-for="Birthday" type="date" id="inputBirthday" class="form-control">
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label" for="inputGender">Gender</label>
        </div>
        <div class="col-auto">
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
            </select>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label" asp-for="Country">Country</label>
        </div>
        <div class="col-auto">
            <select asp-for="Country" asp-items="Html.GetEnumSelectList<Country>()">
            </select>
        </div>
    </div>

    <div>
        <label class="col-form-label" for="team">Team </label>
        <div class="autocomplete " width="300">
            @{
                var text = (string) ViewData["Type"] == "Edit" ? _repository.GetById(Model.TeamId).Name : "";
                var placeholder = (string) ViewData["Type"] == "Add" ? "Input team name" : text;
                <input id="team" class="form-control" type="text" name="teamName" placeholder="@placeholder" value="@text">
            }
        </div>
    </div>

    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="@ViewData["Type"]"/>
    </div>
    </fieldset>
</form>