@model Footballer

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
</head>
<body>
<div>
      @Model.Name
      @Model.Surname
      @Model.Birthday.ToShortDateString()
      @Model.Country
      @Model.Gender
      @Model.Team
</div>
</body>
</html>