@using Test_66bit.Interfaces
@inject ITeamService _service
@inject IFootballerRepository _repository;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Footballers List";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<h2>@ViewData["Title"]</h2>
@{
    var footballers = _repository.All.ToList();
}
<div>
    <table border="2">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Gender</th>
            <th>Birthday</th>
            <th>Country</th>
            <th>Team</th>
            <th>Option</th>
        </tr>
        @foreach (var footballer in footballers)
        {
            <tr>
                <td>
                    @footballer.Id
                </td>
                <td>
                    @footballer.Name
                </td>
                <td>
                    @footballer.Surname
                </td>
                <td>
                    @footballer.Gender
                </td>
                <td>
                    @footballer.Birthday.ToShortDateString()
                </td>
                <td>
                    @{
                        var country = EnumHelper<Country>.GetDisplayValue(footballer.Country);
                        @country
                    }
                </td>
                <td>
                    @_service.GetNameById(footballer.TeamId)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Footballer", new {id = footballer.Id})">EDIT</a>
                </td>
            </tr>
        }
    </table>

    <script src="~/lib/signalR/signalr.min.js"></script>
    <script>
            const hubConnection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:5001/chat")
                .build();
     
            hubConnection.on("Receive", function (data) {
                if (location.href === '@Url.Action("List")' || "/" || "") {
                    location.href='@Url.Action("List")';
                }
            });
            hubConnection.start();
        </script>
</div>
</body>
</html>