@model Footballer

@{
   ViewData["Title"] = "Add footballer";
} 
<h2>@ViewData["Title"]</h2>
<form asp-action="Post" method="post">
   
   <div>
      <label asp-for="Name"></label>
      <input asp-for="Name"/>
      <span asp-validation-for="Name"></span>
   </div>

   <div>
      <label asp-for="Surname"></label>
      <input asp-for="Surname"/>
      <span asp-validation-for="Surname"></span>
   </div>

   <div>
      <label asp-for="Birthday"></label>
      <input asp-for="Birthday" type="date"/>
      <span asp-validation-for="Surname"></span>
   </div>

   <div>
      <label asp-for="Gender"></label>
      <select asp-for="Gender">
         @foreach (var gender in Enum.GetValues(typeof(Gender)))
         {
            <option value="@gender">@gender</option>
         }
      </select>
   </div>

   <div>
      <label asp-for="Country"></label>
      <select asp-for="Country">
         @foreach (var country in Enum.GetValues(typeof(Country)))
         {
            <option value="@country">@country</option>
         }
      </select>
   </div>
   
   <div>
         <label>Team: </label>
      @Html.DropDownListFor(m => m.Team, new SelectList(ViewBag.Teams),new { onchange = "check_val(this)" })
         <input name="teamName" id="my-field"/>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
         <script>
            jQuery(document).ready(($) => {
            $('#my-field').hide();
            $('#team_add_button').hide();
            })
            
            function check_val(select) {
            if (select.value === 'Add Team') {
            $('#my-field').show();
            $('#team_add_button').show();
            } else {
            $('#my-field').hide();
            $('#team_add_button').hide();
            }
            }
            </script>
      </div>

   <div>
      <input type="submit" value="Add"/>
   </div>
</form>
